@page
@model RpDemoApp.Pages.Orders.CreateModel
@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<form method="post">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    
    <div class="form-group">
        <label asp-for="Order.FoodId" class="control-label"></label>
        <select asp-for="Order.FoodId" asp-items="Model.FoodItems" class="form-control"></select>
        <span asp-validation-for="Order.FoodId" class="text-danger"></span>
    </div>
    
    <div class="form-group">
        <label asp-for="Order.Quantity" class="control-label"></label>
        <input asp-for="Order.Quantity" class="form-control"/>
        <span asp-validation-for="Order.Quantity" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Order.OrderName" class="control-label"></label>
        <input asp-for="Order.OrderName" class="form-control"/>
        <span asp-validation-for="Order.OrderName" class="text-danger"></span>
    </div>
    
    <div class="form-group">
        <input type="submit" class="btn-primary" value="Order Food">
    </div>
    
</form>

@section Scripts
{
    @{ await Html.RenderPartialAsync("Shared/_ValidationScriptsPartial");}
}
