@model DataLibrary.Models.OrderModel

@{
    ViewBag.Title = "Delete";
    Layout = "_Layout";
}

<h2>Delete</h2>

@if (Model is null)
{
    <h4>The requested record was not found</h4>
}
else
{
    <div class="h4">
        Are you sure you want to delete the order you placed for @Model.OrderName on @Model.OrderDate?
    </div>
    <form asp-action="Delete">
        <input type="submit" value="Delete" class="btn btn-danger"/>
    </form>
}